<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!--<link rel="stylesheet" href="../lib/bootstrap/3.3.4/dist/css/bootstrap.min.css"/>-->
    <!--<link rel="stylesheet" href="../lib/font-awesome/font-awesome-4.3.0/css/font-awesome.min.css"/>-->
    <!--<link rel="stylesheet" href="../lib/css/ghost.css"/>-->
    <!--<link rel="stylesheet" href="css/ngclass.css"/>-->
    <!--<script type="text/javascript" src="../lib/angular-1.2.20/angular.js"></script>-->
</head>
<body>
<div class="container" ng-controller="simpleCtrl">
    <label>名称：</label>
    <input type="text" class="input-sm" ng-model="user.username"/>
    <p>{{user.username}}</p>
<hr>
    <!--<button name="clickme" ng-click="clickme()">clickMe</button>-->
    <button name="clickme" ng-click="clickme()">clickMe</button>
    <div  contenteditable="true" ng-model="user.username"></div>

    <!--<div id="add" ng-repeat="users in userList">-->
        <!--<p>{{users.username}}</p>-->
    <!--</div>-->
    <div id="add"></div>
</div>
<!--<script src="js/angular_example.js"></script>-->
</body>
</html>